<h1>New Import</h1>

<%= form_for @import do |f| %>
  <div class='field'>
    <%= f.label "File:" %>
    <%= f.file_field :file %>
  </div>

  <div class='field'>
    <%= f.label :account_id %><br>
    <%= f.select :account_id, Account.pluck(:name, :id) %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
<%- end %>

<%= link_to 'Back', imports_path %>
