<p id="notice"><%= notice %></p>

<p>
  <strong>Category type:</strong>
  <%= @category.category_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @category.total %>
</p>

<%= link_to 'Edit', edit_category_path(@category.id) %> |
<%= link_to 'Back', categories_path %>

<br/>
<h2> Transactions </h2>

<div>
  <%= render partial: 'transactions/list', locals: { transactions: @category.transactions } %>
</div>
