<table class='transaction-list'>
  <thead>
    <tr>
      <th>Category</th>
      <th>Account</th>
      <th>Amount</th>
      <th>Paid at</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% transactions.each do |transaction| %>
      <tr class="<%= transaction.category_type %>">
        <td><%= transaction.category_name %></td>
        <td><%= transaction.account_name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.paid_at %></td>
        <td><%= transaction.description %></td>
        <td><%= link_to 'Show', transaction_path(id: transaction.id) %></td>
        <td><%= link_to 'Edit', edit_transaction_path(id: transaction.id) %></td>
        <td><%= link_to 'Destroy', transaction_path(id: transaction.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add sub-transaction', new_transaction_sub_transaction_path(transaction_id: transaction.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
