<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<p><%= link_to 'New Transaction', new_transaction_path %></p>
<p><%= link_to 'Transfer', new_transfer_transaction_path %></p>
<%=
  render partial: 'transactions/filter', locals: {
    url: transactions_path,
    all_url: transactions_path('report[all]' => true),
    date: @date
  }
%>
<p><b>Total transactions:</b> <%= @total_count %></p>
<p><b>Total income:</b> <%= @total_income.format %></p>
<p><b>Total expense:</b> <%= @total_expense.format %></p>
<p><b>Balance:</b> <%= (@total_income - @total_expense).format %></p>

<%= render partial: 'transactions/list', locals: { transactions: @transactions } %>
