<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<p><%= link_to 'New Transaction', new_transaction_path %></p>
<p><%= link_to 'Transfer', new_transfer_transaction_path %></p>
<%= form_for :report, url: transactions_path, method: :get do |f| %>
  <%= f.date_select :date, { discard_day: true, selected: @date } %>
  <%= f.submit 'Filter' %>
<%- end %>
<p><b>Total transactions:</b> <%= @total_count %></p>
<p><b>Total income:</b> <%= @total_income %></p>
<p><b>Total expense:</b> <%= @total_expense %></p>

<%= render partial: 'transactions/list', locals: { transactions: @transactions } %>
