<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<%= link_to 'New Transaction', new_transaction_path %>

<br>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Account</th>
      <th>Amount</th>
      <th>Paid at</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.category.name %></td>
        <td><%= transaction.account.name %></td>
        <td><%= transaction.amount.format %></td>
        <td><%= transaction.paid_at.strftime('%F') %></td>
        <td><%= transaction.description %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add sub-transaction', new_transaction_sub_transaction_path(transaction_id: transaction.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
