<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @transaction.account.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount.format %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @transaction.paid_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
