<%= javascript_include_tag 'categories' %>

<h1>Transactions Report</h1>

<%= render partial: 'reports/links' %>

<%= form_for :report, url: transactions_reports_path, method: :get, html: { id: 'filter_form' } do |f| %>
  <%= f.date_select :date, { discard_day: true, selected: @date } %>
  <%= f.submit 'Filter' %>
<%- end %>

<%= line_chart @transactions_data, prefix: '$' %>
