<p id="notice"><%= notice %></p>

<p>
  <strong>Initial balance:</strong>
  <%= @account.initial_balance %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<%= link_to 'Edit', edit_account_path(@account.id) %> |
<%= link_to 'Back', accounts_path %>

<br/>
<h2> Transactions </h2>

<div>
  <%= render partial: 'transactions/list', locals: { transactions: @account.transactions } %>
</div>
